.wrap{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(55, 55, 55, 0.5);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}