.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e479c;
  color: white;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  overflow: hidden;
  z-index: 100;
  flex-shrink: 0;
}
.logo_container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  height: 600%;
}
.logo_container img {
  height: 100%;
}

.icon {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
}
