.title {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
}
.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  margin-bottom: 25px;
}
.btn {
  width: 375px;
}
.courses_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  row-gap: 25px;
}

.courses {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
