.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #faf9f9ee;
}

.form {
  overflow: hidden;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.mail, .pass, .fio {
  text-align: left;
}

.regStud{
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  margin-top: -30px;
}

input::placeholder {
  color: #bbb;
}

.back {
  width: 10%;
  padding: 4px;
  margin-left: 327px;
  margin-top: -53px;
  background-color: #3b5998;
  color: white;
  border: 110px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.back:hover {
  background-color: #2d4373;
}

.butSave {
  background-color: #3b5998;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.butSave:hover {
  background-color: #2d4373;
}

.havAcc {
    width: 100%;
    padding: 12px;
    background: none;
    color: gray;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background-color 0.4s ease-in-out;
}
.havAcc:hover {
  background-color: #2d4373;
  color: white;
}
